@import url('http://fonts.cdnfonts.com/css/southside');
@font-face {
    font-family: "PS2P";
    src:url("..\/game\/assets\/fonts\/PressStart2P-Regular.ttf");
}

body{
    background-color: #1a1a1a;
}

nav{
    padding: 0 0 15px 7%;
    margin-left: 5px;
}

#nav-icon{
    width: 70px;
    height: 70px;
    margin: -10px 0 0 0;
    float: left;
}

.nav-fb{
    font-family: 'PS2P';
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: bolder;
}

#nav-flappy{
    color: rgb(41, 88, 175);
}

#nav-bug{
    color: white;
}

.nav-fb-holder{
    padding-top: 15px;
}
canvas{
    position: absolute;
    top: 10%; /* gameWindow is set to 80% */
    left: 10%;
    box-shadow: 0px 3px 5px #23aaee;

}

.hidden-p{
    font-family: 'PS2P', sans-serif;
    position: absolute;
    opacity: 0;
}